<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
    var cover = item.cover || theme.index_cover;
%>
<header class="intro-header" style="background-image: url('<%- cover %>')">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
                    <% if (item.subtitle && item.subtitle.length) { %>
                    <h2 class="post-subheading">
                        <%- item.subtitle %>
                    </h2>
                    <% } %>
                    <span class="meta">
                        <!-- Date and Author -->
                        <% if(item.author) { %>
                            Posted by <%- item.author %> on
                        <% } %>
                        <% if(item.date) { %>
                            <%= item.date.format(config.date_format) %>
                        <% } %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">


    <div class="row">

        <div class="col-lg-8 col-md-8 col-sm-12">

        <div class="row">

            <!-- Tags and categories -->
           <% if (item.categories && item.categories.length || item.tags && item.tags.length) { %>
                <div class="col-lg-4 col-md-5 post-tags">
                    <% if (item.tags && item.tags.length){ %>
                        <%- partial('article-tags', {item: item}) %>
                    <% } else { %>
                        <%- partial('article-categories', {item: item}) %>
                    <% } %>
                </div>
                <div class="col-lg-4 col-md-5 post-categories">
                    <% if (item.tags && item.tags.length && item.categories && item.categories.length){ %>
                        <%- partial('article-categories', {item: item}) %>
                    <% } %>
                </div>
            <% } %>

            <!-- Gallery -->
            <% if (item.photos && item.photos.length){ %>
                <%- partial('gallery') %>
            <% } %>
</div>
<div class="row">

            <!-- Post Main Content -->
            <div class="col-12">
                <span class="post-count"><span style="color: #fff;"><%= _p('metadata', wordcount(item.content)) %> - </span><%= _p('lecture',min2read(item.content)) %></span>
                <%- item.content %>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
        <h2>Thématiques</h2>
        <%- list_categories({ show_count: false, depth: -1 }) %>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- sidebar-blog -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8414180784657235"
             data-ad-slot="2563023975"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <h2>Mots clés</h2>
        <%- list_tags({ show_count: false }) %>

        <h2>Derniers billets</h2>
        <%- list_posts({ amount: 10 }) %>


        </div>
        </div>
    </div>
</article>