<!-- Page Header -->
<!-- Set your background image for this header in the theme's configuration: index_cover -->
<header class="intro-header" style="background-image: url('<%- theme.index_cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <hr class="small">
                    <span class="subheading"><%- config.subtitle %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">

<div class="row">

        <div class="col-lg-8 col-md-8 col-sm-12">

    <div class="row">
        <div class="col-lg-12 col-md-12 ">

        <!-- Cv Mr Horizontal -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8414180784657235"
             data-ad-slot="8299685949"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

            <% page.posts.each(function(item){ %>
                <%- partial('_partial/article-index', {item: item}) %>
            <% }); %>
        <!-- Cv Mr Horizontal -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8414180784657235"
             data-ad-slot="8299685949"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
            <%- partial('_partial/pagination') %>
        </div>
    </div>
    </div>

<div class="col-lg-4 col-md-4 col-sm-12">
        <h2>Thématiques</h2>
        <%- list_categories({ show_count: false, depth: -1 }) %>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- sidebar-blog -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8414180784657235"
             data-ad-slot="2563023975"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <h2>Mots clés</h2>
        <%- list_tags({ show_count: false }) %>

        <h2>Derniers billets</h2>
        <%- list_posts({ amount: 10 }) %>


        </div>
        </div>
</div>

